In [1]:
import numpy as np

In [2]:
import pandas as pd

In [17]:
myseries1 = pd.Series([200,400,600],['UK','CANADA','USA'])

In [18]:
myseries1

UK        200
CANADA    400
USA       600
dtype: int64

In [19]:
myseries1['USA']

600

In [20]:
myseries1.keys()

Index(['UK', 'CANADA', 'USA'], dtype='object')

In [21]:
myseries1 * 2

UK         400
CANADA     800
USA       1200
dtype: int64

#DATFRAMES

In [47]:
np.random.seed(101)
data1 = np.random.randint(0,101,(4,3))

In [48]:
data1

array([[95, 11, 81],
       [70, 63, 87],
       [75,  9, 77],
       [40,  4, 63]])

In [49]:
mycolumns = ['JAN', 'FEB', 'MAR'] #columns

In [53]:
myindex = ['A','B','C','D'] #rows

In [54]:
df = pd.DataFrame(data1,myindex,mycolumns)

In [55]:
df

   JAN  FEB  MAR
A   95   11   81
B   70   63   87
C   75    9   77
D   40    4   63

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, A to D
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   JAN     4 non-null      int32
 1   FEB     4 non-null      int32
 2   MAR     4 non-null      int32
dtypes: int32(3)
memory usage: 80.0+ bytes