In [34]:
import numpy as np

In [8]:
import pandas as pd

In [15]:
myindex = ['USA','India','Canada']

In [16]:
mydata = [1876,1947,1891]

In [17]:
myseries = pd.Series(data=mydata)

In [18]:
myseries

0    1876
1    1947
2    1891
dtype: int64

In [19]:
myseries = pd.Series(data=mydata,index=myindex)

In [20]:
myseries

USA       1876
India     1947
Canada    1891
dtype: int64

In [21]:
myseries['USA']

1876

In [22]:
myseries[1]

1947

In [23]:
ages = {'Bushra': 20, 'Laiba': 20}

In [24]:
ageseries = pd.Series(ages)

In [25]:
ageseries

Bushra    20
Laiba     20
dtype: int64

In [26]:
q1 = {'Japan': 100, 'India': 200, 'China': 300}
q2 = {'Brazil': 100, 'India': 200, 'China': 300}

In [28]:
series_q1 = pd.Series(q1)

In [29]:
series_q1

Japan    100
India    200
China    300
dtype: int64

In [30]:
series_q2 = pd.Series(q2)

In [31]:
series_q2

Brazil    100
India     200
China     300
dtype: int64

In [32]:
series_q2.keys()

Index(['Brazil', 'India', 'China'], dtype='object')

In [35]:
np.array([1,2]) * 2

array([2, 4])

In [37]:
series_q2 * 2

Brazil    200
India     400
China     600
dtype: int64

In [38]:
series_q2

Brazil    100
India     200
China     300
dtype: int64

In [39]:
 series_q1 + series_q2

Brazil      NaN
China     600.0
India     400.0
Japan       NaN
dtype: float64

# adding series 2 with 1 and producing the output by providing the fill value

In [36]:
series_q1.add(series_q2, fill_value=0)

Brazil    100.0
China     600.0
India     400.0
Japan     100.0
dtype: float64