In [1]:
import numpy as np
import pandas as pd

In [2]:
email = "bushra@gmail.com"

In [3]:
email.split("@")

['bushra', 'gmail.com']

In [5]:
names = pd.Series(['raj','jay','mina','sita'])

In [6]:
names

0     raj
1     jay
2    mina
3    sita
dtype: object

In [7]:
names.str.capitalize()

0     Raj
1     Jay
2    Mina
3    Sita
dtype: object

In [8]:
names.str.upper()

0     RAJ
1     JAY
2    MINA
3    SITA
dtype: object

In [9]:
names

0     raj
1     jay
2    mina
3    sita
dtype: object

In [24]:
tech_finance = ['GOOG,APPL,AMZN','BTP,XYZ,JPN']

In [25]:
len(tech_finance)

2

In [26]:
tickers = pd.Series(tech_finance)

In [27]:
tickers

0    GOOG,APPL,AMZN
1       BTP,XYZ,JPN
dtype: object

In [28]:
tickers.str.split(',')

0    [GOOG, APPL, AMZN]
1       [BTP, XYZ, JPN]
dtype: object

In [29]:
tickers.str.split(',',expand=True)

      0     1     2
0  GOOG  APPL  AMZN
1   BTP   XYZ   JPN

In [33]:
messy_names = pd.Series(['bob;o','  raj','claire  '])

In [34]:
messy_names

0       bob;o
1         raj
2    claire
dtype: object

In [39]:
messy_names.str.replace(';','').str.strip().str.capitalize()

0      Bobo
1       Raj
2    Claire
dtype: object

In [40]:
def cleanup(name):
    name = name.str.replace(';','')
    name = name.str.strip()
    name = name.str.capitalize()
    return name
    #less time then before

In [42]:
cleanup(messy_names)

0      Bobo
1       Raj
2    Claire
dtype: object